// https://animesher.com/previews/webp/2/211/2114/21141/2114195.webp 
//https://www.reddit.com/media?url=https%3A%2F%2Fi.redd.it%2Fsoc7z082au891.gif
//https://cdnb.artstation.com/p/assets/images/images/061/458/097/original/cheese-guy-test-1st-scene.gif?1680834693
//https://c4.wallpaperflare.com/wallpaper/855/38/504/pixel-jeff-digital-art-illustration-animation-pixel-art-hd-wallpaper-thumb.jpg
//https://i.pinimg.com/originals/42/58/26/425826d55c531c22b579d4773c68adb5.gif
//https://i0.wp.com/cdn.dribbble.com/users/454765/screenshots/15300792/media/3b08d07aec10e929d9e3275b8d3e6f41.gif

//https://i.gifer.com/origin/c6/c68492071ffaead0131f7368fc7dabc5.gif
.wrapper {
    display: grid;
    margin-left: 15%;
    margin-right: 15%;
    grid-template-columns: repeat(4, minmax(20%, 2fr));
    gap: 10px;
    grid-auto-rows: minmax(100px, 1fr);
    transition: transform 0.2s ease-in-out;
    background-size:cover;
    height: 100%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
  }
  .transitioning-div {
    opacity: 0; 
    transition: opacity 4s ease; 
  
    &.transitioning {
      opacity: 1;
      height: 100%;
      background-image: url('https://wallpapercave.com/wp/wp2763918.gif');
      background-repeat: no-repeat;
      background-size: 100% 100%;
    }
  }
  @media (max-width: 1071px) {
    .wrapper {
      height: 100%;
      gap: 5px; 
      margin-right: 0%;
      margin-left: 0%;
    }
    .eight.Basic { 
     background-size: 100% 100% !important;
     
     }

     .nine.Basic { 
      background-size: 100% 100% !important;
      
      }
      .imagen-proyecto{
        width:100% !important;
      }
  }




    @media (max-width: 550px) {
      .wrapper {
          grid-template-columns: repeat(4, minmax(5%, 1fr)) !important;
          grid-auto-rows: minmax(8vh, 1fr) !important;
          margin-right: 1% !important;
          margin-left: 1% !important;
          padding-top: 25%;
          height: 70% !important;
          gap: 3px !important;
          font-size: 0.5em;
      }
      .transitioning-div {
        &.transitioning {
          background-size: cover;
          background-position: 50% 50%;
        }
      }
      .SecondBody{
        height: 100% !important;
        background-position: 50% 50% !important;
        align-content: normal !important;
      }

      .SecondBody.Gamer{
        background-image:url("https://i.pinimg.com/564x/b1/8e/72/b18e7277d216f7a728f9997843e7b0f2.jpg") !important
      }
      .modal{
        height: 100% !important;
        width: 100% !important;
      }
      
      .container2{
        height: 100% !important;
        width: 100% !important;
      }
      .container2.Basic{
        background-image: url('https://i.pinimg.com/originals/b2/65/0f/b2650fcf2018a115ac0aad40d4efd88e.gif');
        background-size: cover !important;
      }
      .modal-content{
       height: 100% !important;
        width: 100% !important;
        padding: 0px !important;
      }
      .form-container{
        width: 80% !important;
      }

      .five.Gamer{
        background-position:43% 65% !important;
      }

      .chat-burbuja {
        width: 60% !important;
      }
      .chat-burbuja.Basic {
        top: 15% !important;
        left: 50% !important;
        width: 60% !important;
      }

      .form-container {
        height: 90% !important;
        
      }
      .infOne {
        font-size: 0.8rem !important; 
      }
      .infTwo{
        font-size: 0.8rem !important; 
      }
      .chat-burbuja {
        top: 40% !important;
        padding: 5% !important;
        font-size: 0.6 !important;
      }

      .SecondBody{
        padding-top: 0px !important;
        padding-bottom: 0px !important;  
       }
  }
 
  .one {
    grid-column: 2 / 4;
    grid-row: 1 / 5;
    font-size: 20px;
    text-align: start;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: aliceblue;
    transition: transform 0.2s ease-in-out;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    border: 1.5px solid white;
    border-radius: 8px;
    position: relative;
  }
  

  .one.Basic {
  background-image: url('https://miro.medium.com/v2/resize:fit:1400/0*goaFvkjpQM-0p0h6.');

   opacity: .8;
  }
  
  .one.Gamer {
    
     background-image: url('./o_esta_perfil.png');
  }

  .two {
    grid-column: 1 ;
    grid-row: 5/7;
    background-color: rgb(92, 33, 112);
 
   transition: transform 0.2s ease-in-out;
    background-size:cover;
    background-position: 50%;
    background-repeat: no-repeat;
    border-radius: 8px;
    border: 1.5px solid white;
    position: relative;
  }

  .two.Basic { 
    background-color: rgb(47, 100, 161);
   background-image: url('https://i.pinimg.com/564x/89/25/a6/8925a64f6b430a0b1bb061dfbfa66bf4.jpg');

    opacity: .8;
  }
  
  
  .two.Gamer {
    background-image: url('./GithubProfile.png');
  }

 
  .four {
    grid-column: 2 / 4;
    grid-row: 7 / 9;
    border-radius: 8px;
  
   transition: transform 0.2s ease-in-out;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border: 1.5px solid white;
    color: aliceblue;
    position: relative;
  }

  .four.Basic { 
  
    background-image:url('https://i.pinimg.com/564x/cd/53/5f/cd535fb61afcf7f8b7d370375a93da2d.jpg') ;
    background-size: 100% 100%;
     background-position: 50% 50%;
    background-color: rgb(46, 85, 143);
    opacity: .7;
  }
  
  
  .four.Gamer {
    background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/6fe91322-e36d-4aca-8d83-41904f9e429f/df3kllr-32b45386-cb0b-4d18-8614-d9c5c5349294.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzZmZTkxMzIyLWUzNmQtNGFjYS04ZDgzLTQxOTA0ZjllNDI5ZlwvZGYza2xsci0zMmI0NTM4Ni1jYjBiLTRkMTgtODYxNC1kOWM1YzUzNDkyOTQuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.wXPGXM3Wy0nOUVmXi1d-CT031ZTvMjTdTsvYShmMXTY');
  }

  .five {
    grid-column: 1 ;
    grid-row: 1 / 5;
    background-color: black;
    border-radius: 8px;
    transition: transform 0.2s ease-in-out;
    background-repeat: no-repeat;
    background-image: url('https://i.pinimg.com/originals/99/8e/05/998e055aba57c24138220937cc5166ab.gif');
    background-position: 42% 60%;
    background-size: auto;
    border: 1.5px solid white;
    position: relative;
  }
  
  .five.Basic { 
    background-image: url('https://i.pinimg.com/564x/16/2c/3a/162c3a0034793073d21550c4a14f5b35.jpg');
    background-size: 120% 100%;
    background-position: 50% 50%;
    opacity: .8;
  }
  .six {
    grid-column: 4;
    grid-row: 5 / 7;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    background-image: url("https://cdn-icons-png.flaticon.com/512/38/38669.png");
    transition: transform 0.2s ease-in-out;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border: 1.5px solid white;
    position: relative;
}

.six.Basic { 
  background-image: url('https://kinsta.com/es/wp-content/uploads/sites/8/2018/08/linkedin-marketing-2.png');
  background-color: rgb(56, 55, 55);
  background-size: 180% 100%;
  background-position: 50% 50%;
  opacity: .9;
}


.six.Gamer {
  background-image: url('./DiseñoLinkedin.gif');
  background-size: 105%;
   background-position: 50% 50%;
}

.seven {
  grid-column: 1;
  grid-row: 7/9;
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  background-size: 100% 100%;
 transition: transform 0.2s ease-in-out;

  background-repeat: no-repeat;
  border: 1.5px solid white;
  position: relative;
}
.seven.Basic { 
  background-image: url('https://i.pinimg.com/564x/c5/29/2a/c5292a8af99aab8a77c9d22f5e656a03.jpg');
  background-color: rgb(56, 55, 55);
  background-size: 110% 110%;
  background-position: 50% 50%;
  opacity: .8;
 }
 
 
 .seven.Gamer {
  background-image: url("https://i.pinimg.com/564x/cc/15/77/cc15771261f26706140cf011365c5827.jpg");
 }
 

 .seven.move {
  animation: moveUpAndDown 0.5s ease-in-out;
}

@keyframes moveUpAndDown {
  0%, 100% {
    transform: translateY(0); 
  }
  50% {
    transform: translateY(-10px); 
  }
}

.eight {
  grid-column: 2/4;
  grid-row: 5 / 7;
  border-radius: 8px;
  transition: transform 0.2s ease-in-out;
  border: 1.5px solid white;
  position: relative;
}


 
  .nine {
    grid-column: 4;
    grid-row: 1 / 5;
    border: 1.5px solid white;

    transition: transform 0.2s ease-in-out;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: 70%;
    border-radius: 8px;
    position: relative;
  }

  .nine.Basic { 
  background-image: url('https://i.pinimg.com/564x/f2/b5/68/f2b568fe703c5a259287e39fea2a61db.jpg');

   opacity: .8;
   }
   
   
   .nine.Gamer {
     background-image: url('./PorfolioGif.gif');
   }
  .ten {
    grid-column: 4;
    grid-row: 7 / 9;
    border: 1.5px solid white;
    transition: transform 0.2s ease-in-out;
    background-size:100% 100%;
    background-repeat: no-repeat;
    background-position: 70%;
    border-radius: 8px;
    position: relative;
  }
  .ten.Basic { 
background-image: url("https://usagif.com/wp-content/uploads/2021/4fh5wi/animated-wallpaper-240x320px-acegif-30.gif");
   
    opacity: .8;
  }
  
  
  .ten.Gamer {
    background-image: url('https://i.pinimg.com/originals/6a/b5/19/6ab5193fd83c03eca09a2a378a2db418.gif');
  }
  

  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.2s ease-in-out;
    overflow: auto;
  }
  
  .modal-content {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position-y: center;
    width: 90%; 
    height: 90%; 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    overflow: auto;
  }
  
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 10%;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    border-radius: 10px 10px 40px 40px;
    transition: opacity 0.3s ease-in-out;
  }
  
.one:hover,
.two:hover,
.four:hover,
.five:hover,
.six:hover,
.seven:hover,
.eight:hover,
.nine:hover,
.ten:hover,
.eleven:hover{
  transform: scale(1.01);
}

.ds{
  height: 100%;
  width: 100%;
}

.container {
  position: relative; 
  width: 100%; 
  height: 100%; 

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex; 
  align-items: center; 
  justify-content: center; 
  border-radius: 15px;
}

.container.Gamer{
 background-size: cover;
}


.container.Basic{
  background-color: rgba(0, 0, 0, 0.4);
  background-size: 100% 100%;
}

.container-9{
  position: relative; 
  width: 100%; 
  height: 100%; 

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex; 
  align-items: center; 
  justify-content: center; 
  border-radius: 15px;
}


.container-9.Basic{
  background-color: rgba(0, 0, 0, 0.4);
  background-size: 100% 100%;
}

.container-9.Gamer{
  background-color: rgba(0, 0, 0, 0.4);
  background-size: 100% 100%;
}
.informacion {
  height: 80%;
  width: 80%;
  text-align: center;
  padding: 20px;
  overflow-y: auto;

  color: #fff; 
}

.infOne {
  padding-top: 5%;
  opacity: 0; 
  color: aliceblue;
  
  animation: appear 2s forwards; 
}
.infTwo{
  opacity: 0; 
  color: aliceblue;
  animation: appear 2.5s forwards;
}

@keyframes appear {
  0% {
    opacity: 0; 
    transform: translateY(20px); 
  }
  100% {
    opacity: 1; 
    transform: translateY(0); 
  }
}

.siguiente{
  position: absolute;
  width: 0;
  height: 0;
  border-left: 15px solid transparent; 
  border-right: 15px solid transparent; 
  border-top: 20px solid rgb(255, 255, 255);
  right: 0;
  bottom: 10%;
  margin-right: 10%;
  animation: move 3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.anterior{
  position: absolute;
  width: 0;
  height: 0;
  border-left: 15px solid transparent; 
  border-right: 15px solid transparent; 
  border-bottom: 20px solid rgb(255, 255, 255);
  right: 0;
  top: 10%;
  margin-right: 10%;
  animation: move 3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  z-index: 1;
}

@keyframes move {

  0%{
      transform: translateY(3px);
  }
  50%{
    transform: translateY(0px);
  }
  100%{
    transform: translateY(3px);
  }
}

.fondo-comercio {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.685);
  height: 100%;
  width: 10%;
  right: 0;
  border-radius: 8px;
  transition: width 1.5s ease;
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow: auto;
}

.fondo-comercio.normal {
 .reset-button{
    right: 0%;
}
}
.fondo-comercio.ampliado {
  width: 100%;
}

.left-arrow-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
  padding: 10px;
  left: 5%;
  top: 50%;
  transition: color 0.3s ease;

}

.left-arrow-button::before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #ffffff; 
  left: 5px; 
  top: 50%;
  transform: translateY(-50%);
  transition: border-right-color 0.3s ease;
}

.left-arrow-button.rotate {
  transform: rotate(180deg); 
}
.left-arrow-button:hover::before {
  border-right-color: red; 
}


.chat-comercio {
  position: absolute;
    background-color: #007bff; 
    color: rgb(0, 0, 0); 
    border-radius: 20px; 
    padding: 10px;
    height: 20%;
    width: 30%;
    left: 20%;
}

  .chat-comercio::before {
    content: '';
    position: absolute;
    top: 10px; 
    left: 10px; 
    border-width: 0 10px 10px; 
    border-style: solid;
    border-color: transparent transparent #007bff; 
  }
.container2 {
  position: relative; 
  width: 100%; 
  height: 100%; 
  background-repeat: no-repeat;
  background-image: url("https://i.pinimg.com/originals/99/8e/05/998e055aba57c24138220937cc5166ab.gif");
  background-position: bottom;
  background-size: cover;
  display: flex; 
  align-items: center; 
  justify-content: center; 
  border-radius: 8px;
  background-attachment: fixed;
  overflow: auto;
}

.container2.Basic{
  background-image: url('https://i.pinimg.com/originals/b2/65/0f/b2650fcf2018a115ac0aad40d4efd88e.gif');

}



.a-div{
  height: 100%;
  width: 100%;
}

.item1{
  width: 100%;
  height: 30%;
  background-image: url("https://global-uploads.webflow.com/5e9dc792e1210c5325f7ebbc/6471d91fe03715b542e9278d_gSEqxXIWbnya8JYhVfBwpfiX8ZDb70NqnZ5aB-zxV8A.png");
  border-radius: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  font-size: 20px;
  align-content: center;
  margin-bottom: 5px;
}

.IconosEst{
  border-radius: 100%;
  height: 50px;
  width: 50px;
  background-image: url("/JsParaPagina.png");
  background-size: cover;
  background-position: center;
}

.chat-burbuja {
  position: fixed;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #000000c2;
  color: white;
  width: 20%;
  padding: 2%;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

}

.chat-burbuja.Basic {
  top: 20%;
  left: 65%;
}
.SecondBody{
 padding-top: 10px;
  padding-bottom: 10px;
  min-height: 100vh;
  height: auto;
  background-position:100% 100%;
  background-size: cover;
  align-content: center;
}
.SecondBody.Basic{
  background-image: url('https://wallpapers.com/images/hd/blue-gray-3840-x-2160-2wj8ikgguo4or2zi.jpg');
}
.SecondBody.Gamer{
  background-image: url('https://i.pinimg.com/originals/9e/40/70/9e40708b7f7b6d11ab3d4f8d7a03de15.gif');
}

.close-button {
  width: 30px;
  height: 30px;
  position: relative;
  background-color: rgba(0, 0, 0, 0.315);
  bottom:45%;
  right: 45%;
  cursor: pointer;
}

.close-button-one {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0; 
  left: 0; 
  background-color: rgba(0, 0, 0, 0.315);
  cursor: pointer;
}

.close-button-one::before,
.close-button-one::after {
  content: '';
  position: absolute;
  top: 50%;
 
  transform: translate(-50%, -50%); /* Centra las líneas horizontal y verticalmente */
  width: 100%;
  height: 2px;
  background-color: rgb(255, 255, 255);
}

.close-button-one::before {
  transform: rotate(45deg);
}

.close-button-one::after {
  transform: rotate(-45deg);
}



.close-button.ampliado{
  display:none;
}

.close-button.normal{
  display:flex;
}

.close-button::before,
.close-button::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: rgb(255, 255, 255);
}

.close-button::before {
  transform: rotate(45deg);
}

.close-button::after {
  transform: rotate(-45deg);
}


.form-container {
  max-width: 600px;
  height: 80%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #9d27a1;
  border-radius: 5px;
  background-color: #38073ab0;
  display:grid;
  margin-top: 3%;
}

.form-container.normal{
  display: none;
}

.input-label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.select-input,
.text-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}
.select-input.normal{
  display: none;
}


.button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.button:hover {
  background-color: #0056b3;
}

.text-input.normal{
  display: none;
}

.button.normal{
  display: none;
}

.input-label{
color: white;
}

.input-label.normal{
  display: none;
}

.text-input-description{
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.text-input-description.normal{
  display: none;
}


.imagen-proyecto{
  height: 100%;
  width:100%;
  animation: appear 2.5s forwards;
}

.imagen-proyecto-Fruit{
  height: 60%;
  width: 60%;
  animation: appear 2.5s forwards;
}

.video{
  width: 100%;
  height: 100%;
}


.one:focus,
.two:focus,
.six:focus,
.four:focus,
.five:focus,
.nine:focus,
.seven:focus,
.eight:focus,
.ten:focus {
  transform: scale(1.01);
}
