// https://animesher.com/previews/webp/2/211/2114/21141/2114195.webp 
//https://www.reddit.com/media?url=https%3A%2F%2Fi.redd.it%2Fsoc7z082au891.gif
//https://cdnb.artstation.com/p/assets/images/images/061/458/097/original/cheese-guy-test-1st-scene.gif?1680834693
//https://c4.wallpaperflare.com/wallpaper/855/38/504/pixel-jeff-digital-art-illustration-animation-pixel-art-hd-wallpaper-thumb.jpg
//https://i.pinimg.com/originals/42/58/26/425826d55c531c22b579d4773c68adb5.gif
//https://i0.wp.com/cdn.dribbble.com/users/454765/screenshots/15300792/media/3b08d07aec10e929d9e3275b8d3e6f41.gif
.wrapper {
    display: grid;
    grid-template-columns: repeat(6, minmax(200px, 1fr));
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
   transition: transform 0.2s ease-in-out;
    background-size:cover;
    height: auto;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  @media (max-width: 1071px) {
    .wrapper {
      grid-template-columns: repeat(6, 1fr);
      height: 100%;
      gap: 5px; 
    }
    .one,
    .two,
    .four,
    .five,
    .six,
    .seven,
    .eight,
    .nine,
    .ten,
    .eleven{
      min-width: 80px;
      min-height: 80px;
    }
  }


  @media (max-width: 500px) {
    .wrapper {
      grid-template-columns: repeat();
      gap: 3px;
      height: 100%;
    }
    .one,
    .two,
    .four,
    .five,
    .six,
    .seven,
    .eight,
    .nine,
    .ten,
    .eleven{
      min-width: 80px;
      min-height: 80px;
    }
  }
  

  
  
  .one {
    grid-column: 2 / 4;
    grid-row: 1 / 5;
    font-size: 20px;
    text-align:start;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    font-size: 20px;
    color: aliceblue;
    background-image: url("o_esta_perfil.png");
     transition: transform 0.2s ease-in-out;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: 50%;
    border: 1.5px solid white;
    border-radius: 8px;
    position: relative;
  }

  .two {
    grid-column: 2 ;
    grid-row: 5/7;
    background-color: rgb(0, 0, 0);
    background-image: url("https://user-images.githubusercontent.com/5713670/87202985-820dcb80-c2b6-11ea-9f56-7ec461c497c3.gif");
   transition: transform 0.2s ease-in-out;
    background-size:cover;
    background-position: 50%;
    background-repeat: no-repeat;
    border-radius: 8px;
    border: 1.5px solid white;
    position: relative;
  }
    .three {  
    grid-column: 3;
    grid-row: 5 / 7;
    background-color: black;
    background-image: url("https://cdn.dribbble.com/users/439871/screenshots/4269563/cv.jpg");
   transition: transform 0.2s ease-in-out;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: 50%;
    border-radius: 8px;
    border: 1.5px solid white;
    position: relative;
  }

  
  .four {
    grid-column: 4 / 6;
    grid-row: 1 / 3;
    border-radius: 8px;
    background-image: url("https://wallpaperaccess.com/full/8351153.gif");
   transition: transform 0.2s ease-in-out;
    background-size: cover;
    border: 1.5px solid white;

    color: aliceblue;
    position: relative;
  }

  .five {
    grid-column: 4 ;
    grid-row: 3 / 7;
    background-color: black;
    border-radius: 8px;
    background-image: url("https://i.pinimg.com/originals/ae/1a/32/ae1a3228917786b1c62c8f4ee9a827fe.gif");
   transition: transform 0.2s ease-in-out;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: 0%;
    border: 1.5px solid white;
    position: relative;
  }
  
  .six {
    grid-column: 2;
    grid-row: 7/9;
    background-color: black;
    border-radius: 8px;
    background-image: url("https://i.pinimg.com/736x/2b/3c/3d/2b3c3d5f7633f8c76c55141efb5b43d7.jpg");
   transition: transform 0.2s ease-in-out;
    background-size:cover;
    background-repeat: no-repeat;
    border: 1.5px solid white;
    position: relative;
}
  .seven {
    grid-column: 4 / 6;
    grid-row: 7/9;
    background-image: url("https://64.media.tumblr.com/cb33ede8c01a3006989f79902e144e7d/801da6a4894a4104-ae/s640x960/291a0ae9b07a8d181c43d06cd6030b9f4e2ea662.gifv");
   transition: transform 0.2s ease-in-out;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 8px;
    border: 1.5px solid white;
    position: relative;
  }
   .eight {
     grid-column: 3;
     grid-row: 7 / 9;

    transition: transform 0.2s ease-in-out;
     background-repeat: no-repeat;
     background-size: cover;
     border-radius: 8px;
     border: 1.5px solid white;
     position: relative;
   }
 
  .nine {
    grid-column: 5;
    grid-row: 3 / 7;
    border: 1.5px solid white;
    background-image: url("https://66.media.tumblr.com/43ff1ae84968ffd84606207e9995a78e/tumblr_py4mvbGe6h1tgo74ho1_1280.gif");
    transition: transform 0.2s ease-in-out;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: 70%;
    border-radius: 8px;
    position: relative;
  }

  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.2s ease-in-out;
    overflow: auto;
  }
  
  .modal-content {
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    width: 80%; 
    max-width: 800px;
    height: 80%; 
    max-height: 80%;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    overflow: auto;
  }
  
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 10%;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    border-radius: 10px 10px 40px 40px;
    transition: opacity 0.3s ease-in-out;
  }
  
.one:hover,
.two:hover,
.four:hover,
.five:hover,
.six:hover,
.seven:hover,
.eight:hover,
.nine:hover,
.ten:hover,
.eleven:hover{
  transform: scale(1.01);
}

.ds{
  height: 100%;
  width: 100%;
}


.container {
  position: relative; 
  width: 100%; 
  height: 100%; 
  opacity: .9;
  background-image: url("https://img.freepik.com/premium-vector/hud-futuristic-user-interface-screen-element_303714-65.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex; /* Agrega display: flex para habilitar flexbox */
  align-items: center; /* Centra verticalmente el contenido */
  justify-content: center; /* Centra horizontalmente el contenido */
  border-radius: 8px;
}

.informacion {
  height: 80%;
  width: 80%;
  text-align: center;
  padding: 20px;
  overflow: hidden; 
}

.infOne {
  opacity: 0; 
  color: aliceblue;
  
  animation: appear 2s forwards; /* Define la animación y su duración */
}
.infTwo{
  opacity: 0; 
  color: aliceblue;
  animation: appear 2.5s forwards;
}

@keyframes appear {
  0% {
    opacity: 0; /* Comienza con opacidad 0 al 0% de la animación */
    transform: translateY(20px); /* Puedes aplicar una animación de desplazamiento opcional */
  }
  100% {
    opacity: 1; /* Termina con opacidad 1 al 100% de la animación */
    transform: translateY(0); /* Puedes aplicar una animación de desplazamiento opcional */
  }
}

.siguiente{
  position: absolute;
  width: 0;
  height: 0;
  border-left: 15px solid transparent; /* Tamaño de la base */
  border-right: 15px solid transparent; /* Tamaño de la base */
  border-top: 20px solid rgb(0, 0, 0);
  right: 0;
  bottom: 15%;
  margin-right: 5%;
  animation: move 3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.anterior{
  position: absolute;
  width: 0;
  height: 0;
  border-left: 15px solid transparent; /* Tamaño de la base */
  border-right: 15px solid transparent; /* Tamaño de la base */
  border-bottom: 20px solid rgb(0, 0, 0);
  right: 0;
  top: 15%;
  margin-right: 5%;
  animation: move 3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes move {

  0%{
      transform: translateY(3px);
  }
  50%{
    transform: translateY(0px);
  }
  100%{
    transform: translateY(3px);
  }
}

.fondo-comercio{
  position: absolute;
  background-color: rgba(0, 0, 0, 0.685);
  height: 100%;
  width: 40%;
  right: 0;
  border-radius: 8;
}


.chat-comercio {
  position: absolute;
    background-color: #007bff; 
    color: white; 
    border-radius: 20px; 
    padding: 10px;
    height: 20%;
    width: 30%;
    left: 20%;
  }

  .chat-comercio::before {
    content: '';
    position: absolute;
    top: 10px; /* Ajusta la posición vertical de la punta */
    left: 10px; /* Ajusta la posición horizontal de la punta */
    border-width: 0 10px 10px; /* Crea el triángulo */
    border-style: solid;
    border-color: transparent transparent #007bff; /* Color del triángulo */
  }
.container2 {
  position: relative; 
  width: 100%; 
  height: 100%; 
  background-image: url("https://i.pinimg.com/originals/ae/1a/32/ae1a3228917786b1c62c8f4ee9a827fe.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex; /* Agrega display: flex para habilitar flexbox */
  align-items: center; /* Centra verticalmente el contenido */
  justify-content: center; /* Centra horizontalmente el contenido */
  border-radius: 8px;
}