.body{
    background-image: url("https://i.pinimg.com/originals/9e/40/70/9e40708b7f7b6d11ab3d4f8d7a03de15.gif");
     height: '100%' ;
     background-repeat: no-repeat;
     background-size: cover;
}